@import "utils/common";

// ============== HEADER ============== 

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: $white;
  padding: 10px 0;
  box-shadow: 0 2px 92px 0 rgba(0,0,0,.18);

  &__inner-wrapper {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    @include d-flex_jc-space-between;
  }

  &__logo {
    display: inline-block;
    width: 120px;
    height: 40px;

    &-link {
      @include d-flex_jc-center_ai-center;
      height: 100%;
    }

    object,
    img {
      display: inline-block;
      width: 100%;
      pointer-events: none;
    }
  }

  .main-nav {
    flex-basis: 100%;
    max-height: 0;
    color: $gray;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    @include set-font(main, medium, 15px, 32px);
    @include d-flex_jc-center_ai-center;

    &__list {
      width: 100%;
      margin-top: 15px;
    }

    &__item {
      position: relative;
      padding: 10px 0;
      text-align: center;
      border-top: 1px solid $gray--light;
    }

    &__link {
      display: block;
      width: 100%;

      &:hover { color: $golden; }
    }
  }

  .burger {
    display: block;
    
    &__toggle {
      position: absolute;
      top: 24px;
      right: 0px;
      z-index: 2;
      width: 18px;
      height: 18px;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      
      &:checked~.main-nav { max-height: 500px; }

      &:checked~.burger .burger__line { background-color: transparent; }

      &:checked~.burger .burger__line:before {
        top: 0;
        transform: rotate(-45deg);
      }

      &:checked~.burger .burger__line:after {
        top: 0;
        transform: rotate(45deg);
      }
    }

    &__line {
      position: relative;
      display: block;
      width: 18px;
      height: 3px;
      background-color: $gray;
      border-radius: 10px;
      transition: background-color .2s ease-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $gray;
        border-radius: 10px;
        transition: all .2s ease-out;
      }

      &:before { top: 6px; }

      &:after { top: -6px; }

      &__toggle,
      &__line { display: block; }
    }
  }
}

// ============== HEADER ENDS ==============  

// ============== HERO ==============

.hero {
  position: relative;
  height: 100vh;
  color: $white;
  background-color: $overlay-bg-color;
  @include d-flex_jc-center_ai-center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $gray url('../images/hero-bg.jpg') no-repeat center center/cover;
  }

  &__inner-wrapper,
  #hero {
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: left;
    @include d-flex_fd-column;
  }
  
  &__heading {
    text-transform: uppercase;
    margin-bottom: 10px;
    @include set-font(main, bold, 25px);
  }
  
  &__descr {
    letter-spacing: 3px;
    text-transform: capitalize;
    color: $white;
    margin-top: 0;
    margin-bottom: 20px;
    @include set-font(main, medium, 13px, 1.5);
  }

  &__social {
    &-list { display: flex; }

    &-item:not(:last-child) { margin-right: 30px; }

    &-link:hover { color: $golden; }
  }

  @keyframes typewriter {
    0%,
    100% { width: 0; }

    20%,
    80% { width: 12em; }
  }

  &__text--typed {
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    animation: 4s steps(17) infinite typewriter;
  }

  &__text--typed::after {
    content: "|";
    right: 0;
    margin-left: 5px;
    @include set-font(main, bold, 25px);
  }

}

// ============== HERO ENDS ==============

// ============== ABOUT ==============

.about {
  width: 100%;
  height: auto;
  background-color: $gray--light;
  padding-top: 60px;

  &-bio {
    margin-bottom: 45px;

    &__row {
      justify-content: center;
      @include d-flex_fd-column;
    }

    &__col {
      display: flex;
      flex: 1;
    }

    &__img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      box-shadow: 0 0 85px 0 rgba(0,0,0,.14);
      
      &-wrapper {
        width: 100%;
        border: 20px solid $golden;
      }
    }

    &__descr {
      justify-self: center;
      @include d-flex_fd-column;

      &-heading {
        margin: 25px 0;
        color: $gray;
        @include set-font(secondary, normal, 28px, 28px);
      }

      &-text {
        width: 100%;
        margin: 0;
        @include set-font(main, light, 15px, 28px);
      }
    }
  }

  &-favors {
    overflow: hidden;

    .favor {
      margin-bottom: $column-gap;
      @include d-flex_fd-column;

      &__list {
        display: flex;
        flex-wrap: wrap;
      }

      &__icon {
        font-size: 36px;
        color: $golden;
        margin-bottom: 10px;
      }

      &__heading,
      &__descr { margin-bottom: 10px; }

      &__heading {
        color: $gray--dark;
        text-transform: uppercase;
        margin-top: 10px;
        @include set-font(main, medium, 13px, 20px);
      }

      &__descr {
        width: 100%;
        @include set-font(main, light, 13px, 22px);
      }

      &__discount {
        color: $golden;
        font-weight: map-get($font-weights, "medium");
      }

      &:last-child { margin-bottom: 0; }
    }
  }
}

// ============== ABOUT ENDS ==============

// ============== PORTFOLIO ==============

.portfolio {
  background-color: $white;
  @include toggle-tabs-content(landings, online-shops, quizzes);

  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0 auto 40px auto;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;

    & > label {
      color: $gray;
      margin-bottom: 10px;
      @include set-font(main, medium, 14px);

      &:hover { color: $golden; }
    }
  }
  
  .project {
    box-shadow: 0 0 0 .25rem rgba(205, 205, 205, 0.25);
    @include grid-cards;

    &__image {
      display: flex;
      width: 320rem;
      height: auto;
    }

    &:hover {
      .project__info {
        bottom: 20px;
        opacity: 1;
        @include d-flex_jc-space-between;
      }
    }

    &__info {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      z-index: 3;
      padding: 15px;
      transition: all ease-in-out .3s;
      background-color: rgba(255,255,255,.9);
      opacity: 0;
      @include d-flex_fd-column;
    }
    
    &__details-link {
      position: absolute;
      font-size: 20px;
      right: 15px;
      top: calc(50% - 10px);
      color: $golden;

      &:hover { color: lighten($golden, 10%); }
    }

    &__heading {
      margin-bottom: 10px;
      color: $gray--dark;
      margin-top: 0;
      @include set-font(main, medium, 20px, 24px);
    }

    &__descr {
      color: $gray;
      @include set-font(main, light, 14px, 24px);
    }
  }
}

// ============== PORTFOLIO ENDS ==============

// ============== BLOG ==============

.blog {
  background-color: $gray--light;
  padding: 60px 0 35px 0;

  .articles{
    display: flex;
    flex-flow: row wrap;
  }

  .article {
    width: 100%;
    margin-bottom: 24px;
    @include d-flex_fd-column;

    &__image {
      display: block;
      width: 320em;
      height: auto;
      box-shadow: 0 0 0 .25rem rgba(205, 205, 205, 0.25);
    }

    &__heading {
      color: $gray--dark;
      margin-bottom: 13px;
      @include set-font(main, medium, 19px, 24px);
    }

    &__descr { @include set-font(main, light, 14px, 24px); }

    &__text { padding: 25px 0; }
  }
}

// ============== BLOG ENDS ==============

// ============== CONTACTS ==============

.contact {
  height: auto;
  width: 100%;

  &__details { margin-bottom: 30px; }

  &__item {
    padding-bottom: 10px;
    color: $gray;
    @include set-font(main, light);
  }

  &__title {
    margin-bottom: 30px;
    color: $gray--dark;
    @include set-font(main, semibold, 32px);
  }

  &__form {

    &-input {
      background-color: transparent;
      color: $gray;
      height: 50px;
      letter-spacing: .1rem;
      width: 100%;
      text-transform: uppercase;
      padding-left: 12px;
      margin-bottom: 25px;
      border: 1px solid $gray;
      @include set-font(main, medium, 12px, 14px);

      &:focus { border-color: $form-focus-color; }
    }

    &-group {
      textarea {
        min-height: 160px;
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        resize: vertical;
      }

      .btn {
        width: 100%;
        color: $white;
        text-transform: uppercase;
        background-color: $form-btn-bg-color;
        border: 4px none;
        border-radius: 0;
        @include set-font(main, medium, 12px, 50px);

        &:focus {
          outline: 0;
          box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
        }
      }
    }
  }
}

// ============== CONTACTS ENDS ==============

// ============== FOOTER ==============

.footer {
  background-color: $gray--light;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .socials {
    width: 100%;

    &__list {
      display: inline-block;
      float: none;
      margin-bottom: 20px;
    }

    &__item {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__link {
      color: $gray;
      letter-spacing: .1em;
      background-color: transparent;
      text-transform: uppercase;
      transition: all .5s ease-in-out 0s;
      @include set-font(main, medium, 24px, 20px);

      &:hover {
        color: $golden;
        transition: all .5s ease-in-out 0s;
      }
    }
  }

  .copyright {
    letter-spacing: .1em;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    @include set-font(main, medium, 12px, 28px);
  }

  .credits { @include set-font(main, light, 13px, 20px); }
}

// ============== FOOTER ENDS ==============