@import "utils/common";

// ============== HEADER ============== 

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: $white;
  padding: 5px 0;
  box-shadow: 0 2px 92px 0 rgba(0, 0, 0, .18);

  &__inner-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__logo {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-right: 16px;

    &__logo-link {
      @include d-flex_jc-center_ai-center;
      height: 100%;
    }

    object,
    img {
      display: inline-block;
      width: 100%;
      pointer-events: none;
    }
  }

  .main-nav {
    flex-basis: 100%;
    max-height: 0;
    color: $primary-color;
    line-height: 35px;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -ms-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    @include main-font--medium;
    @include d-flex_jc-center_ai-center;

    &__list {
      width: 100%;
      margin-top: 15px;
    }

    &__item {
      position: relative;
      padding: 10px 0;
      text-align: center;
      border-top: 1px solid $gray;
    }

    &__link {
      display: block;
      width: 100%;
      text-transform: uppercase;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .burger {
    display: block;
    padding: 16px 13px;

    &__toggle {
      position: absolute;
      right: 0;
      z-index: 4;
      width: 18px;
      height: 100%;
      margin-right: 13px;
      opacity: 0;
      cursor: pointer;

      &:checked~.main-nav {
        max-height: 500px;
      }

      &:checked~.burger .burger__line {
        background-color: transparent;
      }

      &:checked~.burger .burger__line:before {
        top: 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }

      &:checked~.burger .burger__line:after {
        top: 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
    }

    &__line {
      position: relative;
      display: block;
      width: 18px;
      height: 3px;
      background-color: $primary-color;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      transition: background-color .2s ease-out;
      -webkit-transition: background-color .2s ease-out;
      -moz-transition: background-color .2s ease-out;
      -ms-transition: background-color .2s ease-out;
      -o-transition: background-color .2s ease-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }

      &__toggle,
      &__line {
        display: block;
      }
    }

  }
}

// ============== HEADER ENDS ==============  

// ============== HERO ==============

.hero {
  position: relative;
  height: 100vh;
  color: $white;
  background-color: $overlay-bg-color;
  @include d-flex_jc-center_ai-center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $primary-color url('../images/hero-bg.jpg') no-repeat center center/cover;
  }

  &__inner-wrapper,
  #hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: left;
  }

  &__list-social {
    display: flex;

    & li:not(:last-child) {
      margin-right: 30px;
    }

    & a:hover {
      color: $secondary-color;
    }
  }

  h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include main-font--bold;
  }

  p {
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: capitalize;
    color: $white;
    margin-top: 0;
    margin-bottom: 20px;
    @include main-font--medium;
  }

  @keyframes typewriter {

    0%,
    100% {
      width: 0;
    }

    20%,
    80% {
      width: 12em;
    }
  }

  &__text--typed {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation: 4s steps(17) infinite typewriter;
    -webkit-animation: 4s steps(17) infinite typewriter;
  }

  &__text--typed::after {
    content: "|";
    right: 0;
    font-size: 25px;
    margin-left: 5px;
    @include main-font--bold;
  }

}

// ============== HERO ENDS ==============

// ============== ABOUT ==============

.about {
  width: 100%;
  height: auto;
  background-color: $gray;
  padding-top: 120px;

  &-bio {
    margin-bottom: 90px;

    &__row {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__column {
      display: flex;
      flex: 1;
    }

    &__img-wrapper {
      width: 100%;
      border: 20px solid $secondary-color;
    }

    &__img {
      img {
        width: 100%;
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14);
      }
    }

    &__descr {
      display: flex;
      justify-self: center;
      flex-direction: column;

      &-heading {
        font-size: 28px;
        margin: 25px 0;
        color: $primary-color;
        @include second-font--regular;
      }

      &-text {
        width: 100%;
        margin: 0;
        @include main-font--light;
      }
    }
  }

  &-favors {
    overflow: hidden;

    .favor {
      display: flex;
      flex-direction: column;

      &__list {
        display: flex;
        flex-wrap: wrap;
      }

      &__icon {
        font-size: 32px;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      &__heading,
      &__descr {
        font-size: 13px;
        margin-bottom: 10px;
      }

      &__heading {
        color: $titles-color;
        margin-top: 10px;
        @include main-font--medium;
      }

      &__descr {
        line-height: 1.5;
        width: 100%;
        @include main-font--light;
      }
    }
  }
}

// ============== ABOUT ENDS ==============

// ============== PORTFOLIO ==============

.portfolio {
  background-color: $white;
  @include filter-tabs;

  .section__title {
    display: block;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: $titles-color;
    margin-bottom: 70px;
    @include main-font--semibold;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto 35px auto;
    padding: 2px 15px;
    text-transform: uppercase;
    text-align: center;

    &>label {
      color: $text-color;
      font-size: 14px;
      @include main-font--medium;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 0 .25em 1rem .25em;

    &__image {
      display: flex;
      position: relative;
      width: 100%;
    }

    &:hover {
      .portfolio-info {
        display: flex;
        justify-content: space-between;
        opacity: 1;
        bottom: 20px;
      }
    }

    .portfolio-info {
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 30px;
      right: 30px;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      background-color: rgba(255, 255, 255, .9);
      padding: 15px;

      .details-link {
        position: absolute;
        font-size: 20px;
        right: 15px;
        top: calc(50% - 10px);
        color: $secondary-color;

        &:hover {
          color: #cab89f;
          color: lighten($secondary-color, 10%);
        }
      }
    }

    &__heading {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 10px;
      color: $titles-color;
      margin-top: 0;
      @include main-font--medium;
    }

    &__descr {
      font-size: 14px;
      line-height: 24px;
      color: $primary-color;
      @include main-font--light;
    }
  }
}

// ============== PORTFOLIO ENDS ==============

// ============== BLOG ==============

.blog {
  background-color: $gray;
  padding: 60px 0;

  .section__title {
    display: block;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
    @include main-font--semibold;
  }

  .article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 .25em 1rem .25em;

    &s {
      display: flex;
      flex-flow: row wrap;
    }

    &__image {
      display: block;
      width: 100%;
      height: auto;
    }

    &__heading,
    &__descr {
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    &__heading {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 13px;
      color: $titles-color;
      @include main-font--medium;
    }

    &__descr {
      font-size: 14px;
      line-height: 24px;
      @include main-font--light;
    }
  }
}

// ============== BLOG ENDS ==============

// ============== CONTACTS ==============

.contact {
  height: auto;
  width: 100%;

  &__details {
    margin-bottom: 30px;

    &-info {
      li {
        padding-bottom: 10px;
        color: $text-color;
        @include main-font--light;
      }
    }
  }

  &__title {
    font-size: 32px;
    margin-bottom: 30px;
    color: $titles-color;
    @include main-font--semibold;
  }

  &__form {
    &-input {
      background-color: transparent;
      color: $text-color;
      font-size: 12px;
      height: 50px;
      letter-spacing: 0.1rem;
      width: 100%;
      padding-left: 12px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 25px;
      border: 1px solid $primary-color;
      @include main-font--medium;


      &:focus {
        border-color: $form-focus;
      }
    }

    &-group {
      textarea {
        min-height: 160px;
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        resize: vertical;
      }

      .btn {
        width: 100%;
        color: $white;
        font-size: 12px;
        line-height: 50px;
        text-transform: uppercase;
        background: $form-btn-bg;
        border: 4px none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        @include main-font--medium;

        &:focus {
          outline: 0;
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
        }

      }
    }
  }
}

// ============== CONTACTS ENDS ==============

// ============== FOOTER ==============

.footer {
  background-color: $gray;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .socials {
    width: 100%;

    &__list {
      display: inline-block;
      float: none;
      margin-bottom: 20px;
    }

    &__item {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__link {
      font-size: 24px;
      color: $primary-color;
      letter-spacing: 0.1em;
      font-weight: 500;
      background-color: transparent;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;

      &:hover {
        color: $secondary-color;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
      }
    }
  }

  p {
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    @include main-font--medium;
  }

  .credits {
    font-size: 13px;
    @include main-font--light;
  }
}

// ============== FOOTER ENDS ==============