@import "main";

// ============== HEADER ============== 

.header {
  @include device-up(md) {

    &__inner-wrapper { padding: 10px 0; }

    .burger,
    .burger__toggle { right: 10px; }
  }

  @include device-up(lg) {
    .main-nav {
      flex-basis: auto;
      max-height: none;

      &__list {
        display: flex;
        width: auto;
        margin-top: 0;

        &:before { margin-left: 18px; }
      }

      &__link {
        display: inline;
        width: auto;
      }

      &__item {
        border: none;
        padding: 0;
        margin-left: 40px;
        &:not(:last-child) { margin-right: 16px; }
      }
    }

    .burger,
    .burger__toggle { display: none; }
  }
}

// ============== HEADER ENDS ==============  

// ============== HERO ==============

.hero {
  @include device-up(sm) {
    &__heading {
      font-size: 40px;
      margin-bottom: 15px;
    }

    &__descr {
      font-size: 13px;
      margin-bottom: 30px;
    }

    &__text--typed::after { font-size: 40px; }
  }
}

// ============== HERO ENDS ==============

// ============== ABOUT ==============

.about {
  @include device-up(md) { padding-top: 120px; }

  &-bio {
    @include device-up(md) { margin-bottom: 90px; }
    @include device-up(lg) {
      &__row {
        justify-content: space-between;
        flex-direction: row;
      }

      &__col {
        flex: 1;

        &:last-child { flex: 2; }
      }

      &__img-wrapper { padding-bottom: 30px; }

      &__img {
        margin-top: -60px;
        margin-left: 40px;
      }

      &__descr { margin-left: 9rem; }
    }
  }

  &-favors {

    .favor {
      @include device-up(sm) {
        width: 50%;
        padding: 1rem;
        margin-bottom: 0;
        &:nth-child(-n+2) { margin-bottom: $column-gap; }
      }

      @include device-up(lg) {
        width: 25%;
        &:nth-child(n) { margin-bottom: 0; }
      }
    }
  }
}

// ============== ABOUT ENDS ==============

// ============== PORTFOLIO ==============

.portfolio {
  .tabs {
    @include device-up(sm) {
      flex-direction: row;
      width: 400px;
      @include d-flex_jc-space-between;

      & > label { margin-bottom: 0; }
    }
  }
  .project {
    @include grid-cards(sm, 2);
    @include grid-cards(lg, 3);
  }
}

// ============== PORTFOLIO ENDS ==============

// ============== BLOG ==============

.blog {
  .article {
    @include grid-cards(sm, 2);
    @include grid-cards(lg, 3);
  }
}

// ============== BLOG ENDS ==============

// ============== CONTACTS ==============

.contact {
  @include device-up(lg) {
    &__inner-wrapper {
      display: flex;
      flex-direction: row;
    }

    &__details,
    &__form { flex: 1; }

    &__details { margin-bottom: 0; }

    &__form-group {
      flex-wrap: wrap;
      @include d-flex_jc-space-between;

      input:nth-child(-n+2) {
        display: inline-flex;
        width: calc(50% - (12px / 2) - 12px);

        &:first-child { margin-right: $column-gap; }
      }
    }
  }
}

// ============== CONTACTS ENDS ==============