@import "vars";
@import "fonts";
@import "mixins";

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
* 1 - Correct the line height in all browsers.
* 2 - Prevent adjustments of font size after orientation changes in iOS.
*/
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	scroll-behavior: smooth;
}

body { overflow-x: hidden; }

body,
ul,
li,
h1,
h2,
h3,
h4,
p { margin: 0; }

/**
* Correct the font size for headings in Chrome, Firefox, and Safari.
*/
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }


/**
*  1 - Remove the inheritance of text transform in Edge, Firefox, and IE.
*/
button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: none; /* 1 */
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;

	&[class="btn"] {
		display: inline-flex;
		cursor: pointer;
	}
}

:focus,
:active { outline: none; }

/**
* Make images easier to work with 
*/
img {
	max-width: 100%;
	display: block;
}

/**
* Inherit the font styles for inputs and buttons 
*/
button,
input,
textarea { font: inherit; }

/**
* Show the overflow in IE, Edge.
*/
button,
input { overflow: visible; }

/**
* 1 - Correct the inability to style clickable types in iOS and Safari.
* 2 - Remove the inner border and padding in Firefox.
* 3 - Restore the focus styles unset by the previous rule.
*/
button,
[type="button"],
[type="submit"] {
	-webkit-appearance: button; /* 1 */
	&::-moz-focus-inner {
		border-style: none; /* 2 */
		padding: 0; /* 2 */
	}
	&:-moz-focussing { outline: 1px dotted ButtonText; /* 3 */ }
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea { overflow: auto; }

/**
* Add the correct display in IE 10.
*/
[hidden] { display: none; }

.container {
  width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	@include device-up(sm) { padding: 0 ($column-gap / 2); }

  @each $breakpoint, $width in $container-widths {
    @include device-up($breakpoint, $grid-breakpoints) { max-width: $width; }
  }
}

p {
  color: $gray;
	padding: 0;
}

address { font-style:normal; }

input[type="radio"]{ display: none; }

.section-padding {
	padding: 45px 0;
	scroll-margin-top: 80px;
	@include device-up(sm) { padding: 90px 0; }
}

.section__title {
	display: block;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: $gray--dark;
	margin-bottom: 35px;
	@include set-font(main, semibold, 25px);
	@include device-up(sm) { margin-bottom: 70px; }
}