/* Poppins */

@font-face {
	font-family: 'Poppins';
	src: local('Poppins Light'),
		local('Poppins-Light'),
		url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
		url('../fonts/Poppins/Poppins-Light.eot') format('eot'),
		url('../fonts/Poppins/Poppins-Light.tff') format('ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins Medium'),
		local('Poppins-Medium'),
		url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
		url('../fonts/Poppins/Poppins-Medium.eot') format('eot'),
		url('../fonts/Poppins/Poppins-Medium.tff') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins SemiBold'),
		local('Poppins-SemiBold'),
		url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
		url('../fonts/Poppins/Poppins-SemiBold.eot') format('eot'),
		url('../fonts/Poppins/Poppins-SemiBold.tff') format('ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins Bold'),
		local('Poppins-Bold'),
		url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
		url('../fonts/Poppins/Poppins-Bold.eot') format('eot'),
		url('../fonts/Poppins/Poppins-Bold.tff') format('ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* PlayfairDisplay */

@font-face {
	font-family: 'PlayfairDisplay';
	src: local('PlayfairDisplay Regular'),
		local('PlayfairDisplay-Regular'),
		url('../fonts/Playfair_Display/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot') format('eot'),
		url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot') format('tff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Icomoon */

@font-face {
	font-family: 'Icomoon';
	src: url('../fonts/Icomoon/Icomoon.eot');
	src: url('../fonts/Icomoon/Icomoon.eot#iefix') format('embedded-opentype'),
		url('../fonts/Icomoon/Icomoon.ttf') format('truetype'),
		url('../fonts/Icomoon/Icomoon.woff') format('woff'),
		url('../fonts/Icomoon/Icomoon.svg#Icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	&-telegram:before {	content: "\e909"; }

	&-facebook:before {	content: "\e905"; }

	&-instagram:before { content: "\e904"; }

	&-github:before { content: "\e906"; }

	&-layer-group:before { content: "\e907"; }

	&-file-contract:before {	content: "\e908"; }

	&-calendar:before {	content: "\e90a"; }

	&-server:before {	content: "\e90b"; }

	&-comments-alt-dollar:before {	content: "\e90c"; }

	&-user-headset:before {	content: "\e90d"; }

	&-bars:before {	content: "\e902"; }

	&-close:before {	content: "\e903"; }

	&-arrow {
		&-left:before {	content: "\e900"; }

		&-right:before { content: "\e901"; }
	}

	&-expand:before {	content: "\e90e"; }

	&-link:before {	content: "\e90f"; }

	&-square {
		&-check:before { content: "\e910"; }

		&-square:before {	content: "\e911"; }
	}
}