// Colors 

$white: #fff;
$golden: #b8a07e;
$gray: #999;
$gray--light: lighten($gray, 37%);
$gray--dark: darken($gray, 44%);
$overlay-bg-color: rgba(24,39,51,.85);
$form-focus-color: #86b7fe;
$form-btn-bg-color: darken($gray, 40%);

// Own grid

$container-widths: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px,
  "xxl": 1320px,
);

$grid-breakpoints: (
  "xs": 0px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$columns: 12;
$column-gap: 24px;

// Font & it's properties

$fonts: (
  "main": "Poppins",
  "secondary": "PlayfairDisplay",
);

$font-weights: (
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold ": 600,
  "bold": 700,
);